body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--color6);
	padding: 40px;
}

:root {
	--color1: #121212;
	--color2: #BB86FC;
	--color3: white;
	--color4: rgb(95, 85, 85);
	--color5: blue;
	--color6:rgb(129, 216, 250);
	--color7: rgba(1, 33, 55, 0.84);
}

.resume {
	max-width: 800px;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
	display: flex;
	background-color:var(--color7);

}

.header {
	margin: 4% 4% 2% 6%;
	color: var(--color3);
	width: 65%;
	text-align:justify;
}

.header h4{
	display: inline;
	font-size: x-small;
}

.profileImg{
	padding:5% 6% 2% 2% ;
}

.heading {
	text-align: center;
	color: var(--color6);
}

section {
	margin-top: 30px;
}

section h2 {
	padding-bottom: 5px;
	margin-bottom: 0%;
	color: #333;
	background-color: var(--color7);
	color: var(--color3);
	width: 200px;
	padding-left: 6%;
	padding-top: 1%;
	font-size: large;
}

section p{
	margin-top: 0%;
	border-top: 2px solid var(--color7);
	padding: 3% 0% 0% 8%;
	font-weight: 450;
	text-align: justify;
}


#fillDetails {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fillDetails input,
textarea {
	display: block;
	width: 50%;
	margin: 2% 0% 0% 22%;
	color: var(--color7);
	font-size: 14px;
	padding: 2%;

}

.button {
	background-color: var(--color7);
	color: var(--color3);
	border-radius: 10px;
	margin: 6% 0% 3% 1%;
	width: 180px;
	height: 35px;
	font-weight: bold;
	font-size: 16px;
}

.button:hover {
	border: 5px solid var(--color1);
}