body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--color6);
	padding: 40px;
}

:root {
	--color1: #121212;
	--color2: #BB86FC;
	--color3: white;
	--color4: rgb(95, 85, 85);
	--color5: blue;
	--color6: rgb(50, 155, 159);
	--color7: peru;
}

.resume {
	max-width: 800px;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
	display: flex;
	background-color: var(--color3);
}

.header {
	margin: 4% 2% 0% 6%;
	color: var(--color1);
}

.heading {
	text-align: center;
	color: var(--color6);
}

#contant {
	display: flex;
	padding: 0% 2% 2% 0%;
}

.divSty h5{
	margin: 0%;
	width: 238px;
	height: 45px;
	padding: 4% 0% 0% 5%;
}

section {
	margin-top: 30px;
}

section h2 {
	border-bottom: 3px solid var(--color5);
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #333;
}


p {
	font-weight: 500;
}

#fillDetails {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fillDetails input,
textarea {
	display: block;
	width: 50%;
	margin: 2% 0% 0% 22%;
	color: var(--color6);
	font-size: 14px;
	padding: 2%;

}

.button {
	background-color: var(--color6);
	color: var(--color3);
	border-radius: 10px;
	margin: 0% 0% 3% 3%;
	width: 180px;
	height: 35px;
	font-weight: bold;
	font-size: 16px;
}

.button:hover {
	border: 5px solid var(--color1);
}