body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--color6);
	padding: 40px;
}

:root {
	--color1: #121212;
	--color2: #BB86FC;
	--color3: white;
	--color4: gray;
	--color5: blue;
	--color6: rgb(86, 215, 187);
	--color7: rgba(168, 246, 221, 0.59);
}

.resume {
	max-width: 800px;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section1{
	width: 40%;
	background-color: var(--color7);
	padding: 3% 3% 3% 4%;
	margin-right: 1%;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.section1 img{
	border-radius: 100%;
	margin: 10% 2% 10% 13%;
}

.section1 h4{
	margin: 2%;
	margin-left: 0%;
	font-weight: 400;
	font-size: small;
}

.section1 h3{
	margin-bottom: 2%;
}

p{
	text-align: justify;
}

.section2{
	width: 55%;
	margin-left: 1%;
	padding: 3% 2% 3% 4%;
}

#fillDetails {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 2%;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fillDetails input,
textarea {
	display: block;
	width: 50%;
	margin: 2% 0% 0% 22%;
	color: var(--color6);
	font-size: 14px;
	padding: 2%;

}

.button {
	background-color: var(--color6);
	color: var(--color3);
	border-radius: 10px;
	margin: 6% 0% 3% 1%;
	width: 180px;
	height: 35px;
	font-weight: bold;
	font-size: 16px;
}

.button:hover {
	border: 5px solid var(--color1);
}

